<?xml version="1.0"?>
<config>
    <modules>
        <Mageplaza_BannerSlider>
            <version>0.1.0</version>
        </Mageplaza_BannerSlider>
    </modules>
    <frontend>
        <routers>
            <bannerslider>
                <use>standard</use>
                <args>
                    <module>Mageplaza_BannerSlider</module>
                    <frontName>bannerslider</frontName>
                </args>
            </bannerslider>
        </routers>
        <layout>
            <updates>
                <bannerslider>
                    <file>mageplaza/bannerslider.xml</file>
                </bannerslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageplaza_BannerSlider>
                    <files>
                        <default>Mageplaza_BannerSlider.csv</default>
                    </files>
                </Mageplaza_BannerSlider>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <bannerslideradmin>
                <use>admin</use>
                <args>
                    <module>Mageplaza_BannerSlider</module>
                    <frontName>bannerslideradmin</frontName>
                </args>
            </bannerslideradmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bannerslider>
                    <file>mageplaza/bannerslider.xml</file>
                </bannerslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageplaza_BannerSlider>
                    <files>
                        <default>Mageplaza_BannerSlider.csv</default>
                    </files>
                </Mageplaza_BannerSlider>
            </modules>
        </translate>

        <events>
            <controller_action_predispatch>
                <observers>
                    <adminnotification>
                        <type>singleton</type>
                        <class>bannerslider/feed</class>
                        <method>updateFeed</method>
                    </adminnotification>
                </observers>
            </controller_action_predispatch>
        </events>

    </adminhtml>
    <global>
        <models>
            <bannerslider>
                <class>Mageplaza_BannerSlider_Model</class>
                <resourceModel>bannerslider_mysql4</resourceModel>
            </bannerslider>
            <bannerslider_mysql4>
                <class>Mageplaza_BannerSlider_Model_Mysql4</class>
                <entities>
                    <bannerslider>
                        <table>bannerslider</table>
                    </bannerslider>
                    <simpleslider>
                        <table>sky_simple_slider</table>
                    </simpleslider>
                    <advanceslider>
                        <table>sky_advance_slider</table>
                    </advanceslider>
                    <banner>
                        <table>sky_banner</table>
                    </banner>
                    <traffic>
                        <table>sky_banner_traffic</table>
                    </traffic>
                    <bannerdetail>
                        <table>sky_banner_detail</table>
                    </bannerdetail>
                </entities>
            </bannerslider_mysql4>
        </models>
        <resources>
            <mageplaza_bannerslider_setup>
                <setup>
                    <module>Mageplaza_BannerSlider</module>
                    <class>Mageplaza_BannerSlider_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageplaza_bannerslider_setup>
            <bannerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannerslider_write>
            <bannerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannerslider_read>
        </resources>
        <blocks>
            <bannerslider>
                <class>Mageplaza_BannerSlider_Block</class>
            </bannerslider>
        </blocks>
        <helpers>
            <bannerslider>
                <class>Mageplaza_BannerSlider_Helper</class>
            </bannerslider>
        </helpers>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <bannerslider_observer_block_output>
                        <type>singleton</type>
                        <class>bannerslider/block_observer</class>
                        <method>afterOutputHtml</method>
                    </bannerslider_observer_block_output>
                </observers>
            </core_block_abstract_to_html_after>
        </events>

    </global>

    <default>
        <bannerslider>
            <general>
                <is_enabled>1</is_enabled>
                <editor>autocompletetion</editor>
            </general>
        </bannerslider>
    </default>

</config>