.gallery-t-group {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;  
  user-select: none;
}
.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
  background: #eee;
}

.gallery-t-group .rsThumb {
  float: left;
  overflow: hidden;
  /*width: 56px;*/
  height: 40px;
  margin-right: 1px;
}
.gallery-t-group .rsThumbs {
  width: 285px;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 0 0 0 1px;
  right: 0;
}
.gallery-t-group .rsGCaption {
  right: 285px;
  line-height: 12px;
  padding: 1px 7px;
  font-size: 11px;
  background: #EEE;
  position: absolute;
  width: auto;
  bottom: 0;
  float: none;
  text-align: left;
}
@media screen and (min-width: 0px) and (max-width: 1200px) {  
  .gallery-t-group .rsThumbs {
    width: 228px;
  }
  .gallery-t-group .rsGCaption {
    right: 228px;
  }
}
@media screen and (min-width: 0px) and (max-width: 760px) {  
  .gallery-t-group .rsThumbs {
    left: 0;
    position: relative;
    width: 100%;
    height: auto;
    padding: 1px 0 0 1px;
  }
  .gallery-t-group .rsThumbsContainer {
    height: auto !important;
  }
  .gallery-t-group .rsGCaption { 
    right: 0;
  }

}

.rsBtnCenterer {
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 20px;
}
.rsPlayBtn {
    cursor: pointer;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
}
.rsPlayBtnIcon {
    background: url("../rs-universal.png") no-repeat scroll 0 -32px rgba(0, 0, 0, 0.75);
    border-radius: 4px 4px 4px 4px;
    display: block;
    height: 64px;
    transition: all 0.3s ease 0s;
    width: 64px;
}